/*  your css code here. If applicable */
.webPage{
	width:1100px;
	background-color:#CBD6CB;
	padding:20px;
}

.imageContainer{
	width:20px;
}

.table1{
	width:100%;
}

.firstCol{
	width:200px;
}

.midCol{
	width:600px;
}

.lastCol{
	width:200px;
}

table, th, td{
	border:1px solid;
}